.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background: #f5f5f5;
    
}
input{
    width:100%;
    box-sizing: border-box;
}
.login-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    
}




