.sidebar {
    width: 250px;
    height: 100vh;
    background: #2C3E50;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
    color: white;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.sidebar nav a {
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: background 0.3s;
}

.sidebar nav a:hover,
.sidebar nav a.active {
    background: #1ABC9C;
}

.main-content {
    margin-left: 250px; 
    padding: 20px;
    width: calc(100% - 250px);
    min-height: 100vh;
    background: #F4F6F7;
}


@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
    .main-content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .main-content {
        margin-left: 0;
        width: 100%;
    }
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.logo img {
  width: 65px;
  object-fit: contain;
  display: block;
}
.brand h2 {
  margin: 0;
  font-size: 18px;
}
