body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Toast Styling */
.Toastify__toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-size: 14px;
}

.Toastify__toast-body {
  padding: 0;
  flex: 1;
}

.Toastify__close-button {
  padding: 0;
  min-width: 20px;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  font-size: 16px;
  margin-left: 12px;
}

.Toastify__close-button:hover {
  opacity: 1;
}
